<div class="jumbotron">
    <div class="container">
    <h1>Add a New Property</h1> 
    <p>Please provide the full address of the Property</p> 
  </div>
  </div>
<div class="container">
  <p>No fields can be left empty!</p> 

<%= render 'form' %>
<hr></hr>

<%= link_to 'Back', properties_path %>

</div>