<div class="jumbotron">
    <div class="container">
    <h1>Add a New Loan</h1> 
    <p>Please provide the date the loan was taken, along with Interest Rate and
    the Property it's associated with</p> 
  </div>
</div>
<div class="container">

  <p>No fields can be left empty!</p> 


<%= render 'form' %>
<hr></hr>
<%= link_to 'All Loans', loans_path %>
<br></br>
<%= link_to 'All Properties', properties_path %>
</div>
